
<app-favorite [isFavorite]="post.isFavorite" (favoriteChangeEvent)="onFavoriteChanged($event)"></app-favorite>
<app-bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus aperiam rem architecto similique perferendis iste quibusdam est beatae alias consectetur id incidunt facere earum dignissimos facilis laborum, sed animi, tempora dolorum corrupti? Et aut enim aliquid quis odit facilis vero neque itaque eligendi sapiente, nam deleniti maxime, nisi reprehenderit!</p>
  </div>
</app-bootstrap-panel>
